<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7/themes/algolia-min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">

  <link rel="shortcut icon" type="image/png" href="images/gift_favicon.png">
  <link rel="stylesheet" href="css/style.css" type="text/css"/>
  <title>Giftify</title>
</head>

<body>

  {{{ body }}}
  
</body>

</html>