#hero_picture {
    background-image: url(../images/gift.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    align-content: center;
}
#hero_picture2{
    background-image: url(../images/gift2.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    align-content: center;
}
#down_arrow {
    color: #363636!important;
    padding: 15px;
}
#slide{
    color: #363636;
}
a {
    background-color: #f5f5f5;
    padding: 15px;
    opacity: 0.75;
    border-radius: 20px;
}

#tile {
    margin: 0 auto;
}

#burger{
    background-color: #363636;
    color: #ffffff;
}

#burger:hover {
    background-color: black;
}

button {
    background-color: rgb(129, 129, 172);
    padding: 10px;
    margin: 2%;
    border-radius: 25%;
    text-align: center;
    text-transform: capitalize;
    font-size: 25px;
}
#recent {
    font-size: 20px;
}

#or-log-in{
    color: #363636;
    /* background-color: white!important; */
    border-radius: 0!important;
}

#menu-items{
    color: white;
    background-color: #363636;
    border-radius: 0;
}

#menu-items:hover {
    background-color: black;
}


