#hero_picture {
    background-image: url(../images/gift.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    align-content: center;
}
#hero_picture2{
    background-image: url(../images/gift2.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    align-content: center;
}
#down_arrow {
    color: #363636!important;
    padding: 15px;
}

#text {
    color: #363636
}

a {
    background-color: #f5f5f5;
    padding: 15px;
    opacity: 0.75;
    border-radius: 20px;
}

#tile {
    margin: 0 auto;
}

button {
    background-color: rgb(129, 129, 172);
    padding: 10px;
    margin: 2%;
    border-radius: 25%;
    text-align: center;
    text-transform: capitalize;
    font-size: 25px;
}