<nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand" >
    <a class="navbar-item" href="/app" id="menu-items">
      <h3 class="subtitle has-text-centered" id="text">Giftify</h3>

    </a>

    <a role="button" class="navbar-burger burger" id="burger" aria-label="menu" aria-expanded="false"
      data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/app" id="menu-items">
        Search
      </a>

      <a class="navbar-item" href="/top50" id="menu-items">
        Top 50 Gifts
      </a>


    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-dark" href="/logout">
            Log out
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<section class="hero is-dark is-fullheight">
  <div class="hero-body" id="hero_picture">
    <div class="container has-text-centered is-dark">
      <a class="is-pulled-left" href="#search">
        <p class="subtitle has-text-centered" id="slide">
          <i class="fas fa-gift fa-7x" id="down_arrow"></i><br>Search for a Gift</p>
      </a>
    </div>
  </div>
</section>
<br id="search">
<br>
<div class="tile is-ancestor">
  <div class="tile is-vertical is-11" id="tile">
    <div class="tile is-parent">
      <article class="tile is-child notification is-dark">
        <h1 class="title banana">Search for a Gift</h1>
        <h3>Search for a unique gift for that special someone</h3>
        <div class="hero-body">
          <section>
            <div class="field has-addons">
              <div class="control is-expanded">
                <input class="input" id="inputInfo" onfocus="this.value=''" type="text"
                  placeholder="Search for your unique gift here.">
              </div>
              <div class="control">
                <button class="button is-black btnSearch" id="gift_search">
                  Search
                </button>
              </div>
            </div>
          </section>
          <section>
            <br>
            <div id="recent">
              <h1>Recent Searches</h1>
            </div>
            <div class="field has-addons">
              <div class="control is-expanded">
                <div class="giftBtns" id="giftVal">
                </div>
              </div>
            </div>
          </section>
          <section>
            <ul>
              {{#each GiftList}}
              <li>
                <p><span class="label">Gift:</span> {{gift_name}}</p>

                <button data-id="{{id}}" class="delgift">Delete</button>
              </li>
              {{/each}}
            </ul>
          </section>
          <div class="tile is-parent" id="showResults">
            <div id="pictures"></div>
          </div>
        </div>
        <br>
        <p class="title">Featured Gifts</p>
        <p class="subtitle">Top gifts for 2019</p>
        <section>
          <div class="tile is-ancestor">
            <div class="tile is-parent">
              <article class="tile is-child box notification is-light">
                <figure class="image is-16by9">
                  <iframe class="has-ratio" width="400" height="300" src="https://www.youtube.com/embed/IC9urbiVp4M"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                </figure>
                <br>
                <p class="subtitle">Apple AirPods</p>
                <p id="or-log-in">After a simple one-tap setup, AirPods work like magic. They're automatically on and always connected.
                  AirPods can even sense when they're in your ears and pause when you take them out.</p>

                <div class="is-child">
                  <br>
                  <p class="subtitle">Price: $115.00<button class="button is-info is-hovered is-rounded is-pulled-right">Check Out
                  </button></p>
                </div>
                <br>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box notification is-light">
                <figure class="image is-16by9">
                  <iframe class="has-ratio" width="400" height="300" src="https://www.youtube.com/embed/MB0GAPpTnbc"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                </figure>
                <br>
                <p class="subtitle">Insta Pot Pressure Cooker</p>
                <p id="or-log-in">Cook a healthy dinner in minutes. The multicookers are electronically controlled, combined pressure
                  cookers and slow cookers. Combines 6-in-1 to consolidate the cooking and preparing.
                </p>
                <br>
                <p class="subtitle">Price: $84.99 <button class="button is-info is-hovered is-rounded is-pulled-right">Check Out
                </button></p>
                <br>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box notification is-light">
                <figure class="image is-16by9">
                  <iframe class="has-ratio" width="400" height="300" src="https://www.youtube.com/embed/5I6eFsa8eOk"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                </figure>
                <br>
                <p class="subtitle">Eufy Robovac 11s</p>
                <p id="or-log-in">Eufy RoboVac 11c is a mart Wi-Fi robotic vacuum cleaner. All-New RoboVac, Re-engineered to be the
                  slimmest RoboVac with increased suction at 1300Pa with quiet operation. BoostIQ Technology.</p>
                <br>
                <p class="subtitle">Price: $239.99<button class="button is-info is-hovered is-rounded is-pulled-right">Check Out
                </button></p>
                <br>
              </article>
            </div>
          </div>
        </section>
        <br>
        <section>
          <div class="tile is-ancestor">
            <div class="tile is-parent">
              <article class="tile is-child box notification is-light">
                <figure class="image is-16by9">
                  <iframe class="has-ratio" width="350" height="263" src="https://www.youtube.com/embed/wnjARlLHJTM"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                </figure>
                <br>
                <p id="or-log-in">Away Suitcase</p>
                <p id="or-log-in">Price: $ 279.99<button class="button is-info is-hovered is-rounded is-pulled-right">Check Out
                </button></p>
                <br>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box notification is-light">
                <figure class="image is-16by9">
                  <iframe class="has-ratio" width="350" height="263" src="https://www.youtube.com/embed/jZQ_efOqarU"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                </figure>
                <br>
                <p id="or-log-in">Gravity Blanket</p>
                <p id="or-log-in">Price: $ 60.89<button class="button is-info is-hovered is-rounded is-pulled-right">Check Out
                </button></p>
                <br>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box notification is-light">
                <figure class="image is-16by9">
                  <iframe class="has-ratio" width="350" height="263" src="https://www.youtube.com/embed/ZjYcXLY7B9I"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                </figure>
                <br>
                <p id="or-log-in">Kindle Paperwhite</p>
                <p id="or-log-in">Price: 44.99<button class="button is-info is-hovered is-rounded is-pulled-right">Check Out
                </button></p>
                <br>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box notification is-light">
                <figure class="image is-16by9">
                  <iframe class="has-ratio" width="350" height="263" src="https://www.youtube.com/embed/ndnyAWAJYW8"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                </figure>
                <br>
                <p id="or-log-in">Staub 5.5 Cocotte</p>
                <p id="or-log-in">Price: 275.95<button class="button is-info is-hovered is-rounded is-pulled-right">Check Out
                </button></p>
                <br>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box notification is-light">
                <figure class="image is-16by9">
                  <iframe class="has-ratio" width="350" height="263" src="https://www.youtube.com/embed/omJhc4iv4z4"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                </figure>
                <br>
                <p id="or-log-in">Fitbit Charge 3</p>
                <p id="or-log-in">Price: 109.99<button class="button is-info is-hovered is-rounded is-pulled-right">Check Out
                </button></p>
                <br>
              </article>
            </div>
          </div>
        </section>
        <br>
        <section>
          <div class="tile is-ancestor">
            <div class="tile is-parent">
              <article class="tile is-child box notification is-light">
                <figure class="image is-16by9">
                  <iframe class="has-ratio" width="350" height="263" src="https://www.youtube.com/embed/_YnPnv4XNw4"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                </figure>
                <br>
                <p id="or-log-in">Sonos One</p>
                <p id="or-log-in">Price: 109.99<button class="button is-info is-hovered is-rounded is-pulled-right">Check Out
                </button></p>
                <br>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box notification is-light">
                <figure class="image is-16by9">
                  <iframe class="has-ratio" width="350" height="263" src="https://www.youtube.com/embed/kxGT0LJVPSw"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                </figure>
                <br>
                <p id="or-log-in">Ancestry DNA</p>
                <p id="or-log-in">Price: 45.99<button class="button is-info is-hovered is-rounded is-pulled-right">Check Out
                </button></p>
                <br>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box notification is-light">
                <figure class="image is-16by9">
                  <iframe class="has-ratio" width="350" height="263" src="https://www.youtube.com/embed/MiSCq3vGg1s"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                </figure>
                <br>
                <p id="or-log-in">Echo Show</p>
                <p id="or-log-in">Price: $59.99<button class="button is-info is-hovered is-rounded is-pulled-right">Check Out
                </button></p>
                <br>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box notification is-light">
                <figure class="image is-16by9">
                  <iframe class="has-ratio" width="350" height="263" src="https://www.youtube.com/embed/DtBfY8kpaBI"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                </figure>
                <br>
                <p id="or-log-in">InnoGear</p>
                <p id="or-log-in">Price: 14.99<button class="button is-info is-hovered is-rounded is-pulled-right">Check Out
                </button></p>
                <br>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box notification is-light">
                <figure class="image is-16by9">
                  <iframe class="has-ratio" width="350" height="263" src="https://www.youtube.com/embed/RL-S6EnH2X0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                </figure>
                <br>
                <p id="or-log-in">Philips AirFryer</p>
                <p id="or-log-in">Price: 199.99<button class="button is-info is-hovered is-rounded is-pulled-right">Check Out
                </button></p>
                <br>
              </article>
            </div>
          </div>
        </section>
      </article>
    </div>
  </div>
</div>
<script src="./js/script.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="js/script.js"></script>
<script src="js/members.js"></script>
<script src="js/ajaxCall.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script>
  $(document).ready(function () {

    // Check for click events on the navbar burger icon
    $(".navbar-burger").click(function () {

      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      $(".navbar-burger").toggleClass("is-active");
      $(".navbar-menu").toggleClass("is-active");

    });
  });
</script>